# Web Server
fastapi
uvicorn
psycopg2-binary
pydantic
python-dotenv
requests
huggingface-hub

# AI Inference (CPU Optimized)
torch --index-url https://download.pytorch.org/whl/cpu
numpy
scipy
tqdm  

# Signal Processing Dependencies
PyWavelets
filterpy