--extra-index-url https://download.pytorch.org/whl/cpu
torch

# Web Server
fastapi
uvicorn
psycopg2-binary
pydantic
python-dotenv
requests

# Supabase Python Client (NEW)
supabase

# Math & Signal Processing
numpy
scipy
tqdm
PyWavelets
filterpy
datetime